<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatBot training</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">
</head>
<body>
    <p>Use this form to add training data:</p>
    <form action="/training" method = "POST">
        <p>Topic: </p><input class="input" type="text" name="new_topic"/>
        <p>Example Input: </p><input class="input" type="text" name="inputs"/>
        <p>Example Responses: </p><input class="input" type="text" name="responses"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>